:root {
  --vertlogo: rgb(11, 190, 100);
  --verthover: rgb(114, 216, 114);
}

body {
  background-image: url("./Images/imagefond.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: static;
  height: max-content;
  min-height: 93.5vh;
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.navBar {
  background-color: rgb(11, 190, 100);

  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.navBarHover {
  color: initial;
  transition: color 0.3s;
}

.navBarHover:hover {
  background-color: rgb(114, 216, 114);

  border-radius: 25%;
}

.navBar a {
  color: black;
}

.buttonHomePage {
  background-color: rgb(11, 190, 100);
  margin-top: 1rem;
}

.buttonHomePage:hover {
  background-color: rgb(114, 216, 114);
}

.footer {
  background-color: rgb(11, 190, 100);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  position:sticky;
  margin-top: 1rem;
  padding-inline: 2px;
  color:black;
  bottom:0;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-label {
  margin-right: 2px;
  width: 10rem;
  text-align: center;
}

.form-input {
  text-align: center;
  padding: 5px;
  width: 20rem;
  border: 1px solid #ccc;
  border-radius: 30%;
}

.form-label-message {
  margin-right: 2px;
  width: 20rem;
  height: 10rem;
  text-align: center;
  border: 1px solid #ccc;
}

.formulaire {
  background-color: rgb(11, 190, 100, 0.8);
  width: 40rem;
  height: 37rem;
  margin-bottom: 5rem;
  border-radius: 5rem;
}

.h1formulaire {
  display: flex;
  padding-left: 4rem;
 justify-self: center;
  margin-left: 5rem;
}

.formulaireInscription {
  background-color: rgb(11, 190, 100, 0.8);
  width: 35rem;
  height: 47rem;
  margin-bottom: 10rem;
  border-radius: 5rem;
  padding-top: 1rem;

}

.InputFormInscription{
  background-color: var(--vertlogo);
}

.InputGroupInscription{
  width: 30rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}


.buttonEnvoyer {
  display: flex;
  justify-content: center;
  background-color: rgb(114, 216, 114);
  margin-top: 2rem;
}

.buttonEnvoyer a {
  color: black;
}

.buttonEnvoyer:hover {
  background-color: color(srgb red green blue);
}

.imgCarousel {
  display: flex;
  justify-content: center;
  width: 50rem;
  height: 27rem;
  margin-top: 2rem;
}

.carousel-item {
  transition: transform 0.5s ease-in-out;
  scroll-behavior: auto;
}

.logoReseaux {
  width: 1.5rem;
}

.lienInscription {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--vertlogo);
  align-items: center;
  justify-content: center;
  width: 40rem;
  border-radius: 20%;
  height: 2rem;
  
}

.buttonInscription {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--vertlogo);
  border: none;
  width: 6rem;
  margin-left: 13rem;
 
}

.buttonInscription:hover{
  background-color: var(--verthover);
}

.InputGroupCP{
  margin-right: 1rem;
  width: 30%;
}

.pLogin {
  color: black;
display: flex;
margin-right: 0;
}


.card {
  color: maroon;
  background-color: darkkhaki;
}

.list-group-flush {
  color: maroon;
  background-color: darkkhaki;
}

.multicard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.calendar {
  margin-left: 10rem;
  color: var(--vertlogo);
  background: var(--vertlogo);
  display: block;
  align-items: center;
}

.reservationDroite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: rem;
  text-align: center;
}

.h1Planning {
  display: flex;
  margin-left: 10rem;
  justify-content: center;
  color: var(--vertlogo);
}

.h1Reservation {
  display: flex;
  justify-content: center;
  color: var(--vertlogo);
}

.inputGroup {
  width: 20rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.formControlResa {
  background-color: var(--vertlogo);
  width: 8rem;
}

.boutonReserver {
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  width: 20rem;
  background-color: var(--vertlogo);
}

.cardHebergement{
  background-color: wheat;  
  width: 18rem;
}

.cardHebergement img{
  width: 18rem;
  height: 12rem;
}

.textHebergement{
  width: 18rem;
  height: 5rem;
}

.CampingPartieGauche{
display: flex;
flex-direction: column;
}

.imgCampingPage{
width: 30rem;
}

.divPresentation{
display: flex;
justify-content: center;
}

.textLorem{
  background-color: var(--vertlogo);
  height: 5rem;
}

.encartLorem{
  width: 15rem;
  height: 10 rem;
  margin-left: 1rem;
}

.bodyDetail{
  display: flex;
  align-items: center;
  color: whitesmoke;
  gap : 4vw;
  justify-content: space-evenly;

}

.detailLeftPart h2{
  margin-left: 5vw
}

.detailLeftPart img{
  width: 30rem;
  height: 20rem;
  border-radius: 30px;
  margin-left: 4vw;
  border: 3px solid whitesmoke;
}

.detailRightPart{
  border: 3px solid whitesmoke;
  padding: 2rem;
  border-radius: 30px;
  background-color: var(--vertlogo);
  width: 30rem;
  height: 20rem;
  ;
}

.buttonDetailBack{
  /* display: flex; */
  margin-left: 3vw;
}


.divCard{

display: flex;
justify-content: center;
width: 30rem;
height: 30rem;
align-items: center;
margin-inline:5px 10px;

}






.cardPiscine{

height: 19.5rem;
width: 10rem;

}

.cardBodyCamping{
  background-color: var(--vertlogo);

}

.cardImage{
  height: 19rem;
  
}

.cardCamping:hover{
  background-color: black;
  width: 30rem;
}

.recaptcha{
  display: flex;
  justify-content: center;
  margin-left: 2rem;
  
}


.InputFormContact{
  display: flex;
  justify-content: center;
width: 6rem;
margin-left: 6rem;

}

.InputFormContactMessage{
  display: flex;
  justify-content: center;
  width: 6rem;
  height: 8rem ;
  margin-left: 6rem;
}


.FormControlContactMessage{
  height: 8rem;
  width: 20rem;
}

.FormControlContact{
  
  width: 20rem;

  
}

.boutonAjoutActivite{
  background-color : var(--vertlogo);
  border: var(--vertlogo);
}

.activiteButton{
  display: flex;
  gap : 1vw;
  justify-content: space-between;
}

.lesbutton{
  display: flex;
  gap:1vw
}

.activiteButton{
  display: flex;
  gap : 1vw;
  justify-content: space-between;
}

.lesbutton{
  display: flex;
  gap:1vw
}