:root {
  --vertlogo:rgb(11, 190, 100);
  --verthover:rgb(114, 216, 114);

}


body{

  background-image: url("src/Images/imagefond.png");
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position:center;
  position:static;
  height: max-content;
  min-height: 93.5vh;
  margin: 0;
  padding: 0;
}


.logo{
    display: flex; 
   
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}



.navBar{

    background-color: rgb(11, 190, 100);
    color: white;
}

.navBarHover {
    color: initial;
    transition: color 0.3s;
  }
  
  .navBarHover:hover {
    background-color: rgb(114, 216, 114);
    color: white;
    border-radius: 25%;
    
  }
  
 

  .navBar a{
    color: white;
  }

  .buttonHomePage{
    background-color: rgb(11, 190, 100);
    margin-top: 1rem;
    color: white;
  }

  .buttonHomePage:hover {background-color: rgb(114, 216, 114);
    color:white
}

.footer{
  background-color: rgb(11, 190, 100);
  color: white;
}




  .form-group {
    display: flex;  
    align-items: center;  
    margin-bottom: 10px;  
  }

  .form-label {
    margin-right: 2px; 
    width: 10rem; 
    text-align: center;  
    color: white;
  }

  .form-input {
    text-align: center; 
    padding: 5px;
    width: 20rem;
    border: 1px solid #ccc;}


    .form-label-message{
      margin-right: 2px; 
      width: 20rem; 
      height: 10rem;
      text-align: center; 
      border: 1px solid #ccc


    }


   .formulaire{

  background-color: rgb(11, 190, 100);
  width: 40rem;
  height: 30rem;
  margin-bottom: 5rem;
  border-radius: 5rem;
   }

   .h1formulaire{
    display: flex;
    align-items: center;
    margin-left: 5rem;
    color: white;
  }


  .form-groupcheckbox{
    text-align: center; 
    
    width: 5rem;
    border: 1px solid #ccc;
  
  }
  

  .buttonEnvoyer{
    display: flex;
    align-items: center;
    background-color:rgb(114, 216, 114);
    margin-top: 1rem;
    color: white;
  }

  .buttonEnvoyer:hover {background-color: rgb(114, 216, 114);
    color:white}


    .imgCarousel{
display: flex;
justify-content: center;
      width: 50rem ;
      margin-top: 2rem;
     
    }


    .carousel-item {
      transition: transform 0.5s ease-in-out;
    }